<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327951874951-ao6kk4us5kldnb95iuttinpj857vv2un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327951874951-ao6kk4us5kldnb95iuttinpj857vv2un</string>
	<key>API_KEY</key>
	<string>AIzaSyCo_WtSRZ4bBz2NK59N9xIaDisy0ThaVPw</string>
	<key>GCM_SENDER_ID</key>
	<string>327951874951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felipe.ShopDev</string>
	<key>PROJECT_ID</key>
	<string>shopdev-fc96c</string>
	<key>STORAGE_BUCKET</key>
	<string>shopdev-fc96c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327951874951:ios:cccf87c5438dc701057122</string>
</dict>
</plist>